<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add User Role Action</h4>
            </li>
            <!--<li class="breadcrumb-item bcrumb-1">-->
            <!--<a routerLink="/admin/dashboard/main">-->
            <!--<i class="fas fa-home"></i> Home</a>-->
            <!--</li>-->
            <!--<li class="breadcrumb-item bcrumb-2">-->
            <!--<a routerLink="/master/user-role-action/all-use-roler-actions">User Role Action</a>-->
            <!--</li>-->
            <!--<li class="breadcrumb-item active">Add</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> Add New User Role Action</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="userRoleActionForm" (ngSubmit)="onSubmit();">
              <!-- timetableForm.reset(); -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <!-- <ng-select
                    [items]="userList"
                    bindLabel="employee_fullname"
                    [formControl]="userRoleActionForm.get('userId')"
                    placeholder="Select User">
                    </ng-template>
                  </ng-select> -->
                  <!-- <ng-select [items]="userList" bindLabel="employee_fullname" bindValue="user_id"
                    [formControl]="userRoleActionForm.get('userId')" appearance="outline" class="custom"
                    placeholder="select User">
                  </ng-select> -->
                  <ng-select [formControl]="userRoleActionForm.get('userId')">
                    <ng-option disabled="disabled" selected="selected" value="">Select User</ng-option>
                    <ng-option *ngFor="let user of userList" [value]="user.user_id">
                      {{user.user_fullname}}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Role</mat-label>
                    <mat-select required [formControl]="userRoleActionForm.controls.userRoleId.get('roleId')">
                      <mat-option *ngFor="let role of roleList" [value]="role.roleId">
                        {{ role.roleName }}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="userRoleActionForm.controls.userRoleId.get('roleId').hasError('required')">
                      Role is required
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <ng-multiselect-dropdown [placeholder]="'Select Actions'" formControlName="userActionId"
                                           [settings]="dropdownSettings" [data]="actionList" [(ngModel)]="selectedItems"
                                           (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    <ng-template #optionsTemplate let-item let-option="option" let-id="actionId"
                                 let-isSelected="isSelected">
                      {{ action.actionName }}
                    </ng-template>
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" mat-raised-button color="primary">Submit</button>
                  <button type="button" (click)="goBack()" mat-button>Cancel</button>
                </div>
              </div>
            </form>
            {{ userRoleActionForm.value | json }}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
