<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add File Configuration</h4>
            </li>
            <!--<li class="breadcrumb-item bcrumb-1">-->
            <!--<a routerLink="/admin/dashboard/main">-->
            <!--<i class="fas fa-home"></i> Home</a>-->
            <!--</li>-->
            <!--<li class="breadcrumb-item bcrumb-2">-->
            <!--<a routerLink="/master/action/all-fee-categorys">Action</a>-->
            <!--</li>-->
            <!--<li class="breadcrumb-item active">Add</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> Add New File Configuration</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="docFileForm" (ngSubmit)="onSubmit();">
              <!-- timetableForm.reset(); -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Sr. No.</mat-label>
                    <input matInput formControlName="dfSrNo" required>
                    <mat-error *ngIf="docFileForm.get('dfSrNo').hasError('required')">
                      Serial Number is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Institute</mat-label>
                    <mat-select [formControl]="docFileForm.controls.dfInstituteId.get('instituteId')"
                                required>
                      <mat-option *ngFor="let institute of orgInstituteDropdownList" [value]="institute.instituteId">
                        {{institute.instituteName}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="docFileForm.controls.dfInstituteId.get('instituteId').hasError('required')">
                      Institute is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Type of Correspondence</mat-label>
                    <mat-select [formControl]="docFileForm.controls.dfCorrespondenceId.get('correspondenceId')"
                                required>
                      <mat-option *ngFor="let correspondence of mstCorrespondenceDropdownList" [value]="correspondence.correspondenceId">
                        {{correspondence.correspondenceName}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="docFileForm.controls.dfCorrespondenceId.get('correspondenceId').hasError('required')">
                      Correspondece Type is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>File Number</mat-label>
                    <input matInput formControlName="dfNo" required>
                    <mat-error *ngIf="docFileForm.get('dfNo').hasError('required')">
                      File Number is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" [disabled]="!docFileForm.valid " mat-raised-button color="primary">Submit</button>
                  <button type="button" (click)="goBack()" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
