<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add Student Document</h4>
            </li>
            <!--<li class="breadcrumb-item bcrumb-1">-->
            <!--<a routerLink="/admin/dashboard/main">-->
            <!--<i class="fas fa-home"></i> Home</a>-->
            <!--</li>-->
            <!--<li class="breadcrumb-item bcrumb-2">-->
            <!--<a routerLink="/master/action/all-fee-categorys">Action</a>-->
            <!--</li>-->
            <!--<li class="breadcrumb-item active">Add</li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> Add New Student Document</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="studentDocumentForm" (ngSubmit)="onSubmit();">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Student Document Name</mat-label>
                    <input matInput formControlName="sdName" required>
                    <mat-error *ngIf="studentDocumentForm.get('sdName').hasError('required')">
                      Student Document Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" [disabled]="!studentDocumentForm.valid " mat-raised-button color="primary">Submit</button>
                  <button type="button" (click)="goBack()" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
