<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!--<img [src]='teachers.img' alt="avatar">-->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle}}
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" enctype="multipart/form-data" [formGroup]="editOnlineExamForm"
          (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Is Online Exam Started</mat-label>
            <mat-select formControlName="oeIsStarted" id="oeIsStarted">
              <mat-option value="false">Yet to be started</mat-option>
              <mat-option value="true">Started</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <button class="mr-3" [disabled]="!editOnlineExamForm.valid " mat-raised-button color="primary">Submit</button>
          <button type="button" (click)="goBack()" mat-button>Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
